body{
  margin: 10px;
  background-color: black;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
}
/*
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/
header{
  background-image: url(img/img.jfif);
  background-size: cover;
  margin-bottom:20px ;

}
.header-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
@media (min-width: 768px) {
  .header-div{
  flex-direction: row;
  }
}
.header-img{
  height: 100px;
}
/* segunda oarte del header */
.header-2div{
  text-align: center;
  font-size: 1.4em;

}
@media (min-width:768px ) {
  header{
    height: 800px;
    margin: 0;
  }
  .header-2div{
  margin: 170px 200px auto 200px;
  font-size: 1.8em;
  }
  body{
    margin: 0;
  }
}
.header-form{

 margin-right: 20px;
}
.header-form-select{
  font-size: 1rem;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  /* padding: 0 auto; */
  background-color: transparent;
  color: white;
  border: 1px solid white;
   margin-right: 20px;
}
.header-form-btn{

  height: 40px;
  width: 100px;

}





.form-email button::after {
  content: " >";
  color: white;
}

button{
  cursor: pointer;
  color: white;
  background-color: red;
}
.form-email{
  display: flex;
  align-items: center;
  justify-content: center;


}
.form-email button{
  font-size: 0.8rem;
  text-align: center;
  height: 48px;
  width: 100px;
}
#email{

    margin: 0;
    height: 40px;
    width: 200px;
}
@media (min-width: 768px) {
#email{
    width: 350px;
 }
 .form-email button{
  font-size: 1.2rem;
   width: 150px;
}
}

/* MAIN*/
.container{
  border-bottom: 2px solid gray;
}
.container:first-of-type{
    border-top: 2px solid gray;
}
.container-section {
  color: white;
  height: 400px;
  display: flex;
  flex-direction: column;

}
.reverse{

  display: flex;
  flex-direction: column-reverse;


}
@media (min-width: 768px ) {
  .container-section{
    align-items: center;
    flex-direction: row;
    justify-content:center;

    width:70%; margin:0px auto;
}

}
.container-img{
  height: 300px;
  width:50%; margin:0px auto;
  padding: 10px;
}

.container-text{
    text-align: center;
    font-size: 1.2em;
}
@media (min-width: 768px) {
    .container-text{

    font-size: 1.5em;
  }
}


footer{
  color: gray;
  width:60%; margin:0px auto;
}

.enlaceEspecial{
    text-align: left;
  color: gray;
  text-decoration: none;
}
.enlaceEspecial:hover{
 text-decoration: underline;
}
.conteiner-enlaces{
  font-size: 0.8rem;
  margin:20px auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap:5px;
}
@media (min-width: 768px) {
  .conteiner-enlaces{
   font-size: 1.2rem;
    grid-template-columns: repeat(4,1fr);
  }
}
.conteiner-enlaces a{
  text-align: left;
  color: gray;
  text-decoration: none;
  padding: 8px;
}

footer .select{
 color: gray;
}


/* APORTE */

.last{
margin-top: 20px ;
border-bottom: 2px solid gray;
}
.last-flex{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.last-btn{
 text-transform: uppercase;
 border: 1px solid gray;
 box-sizing:border-box;
 width: 300px;
 background-color: gray;
 padding: 15px;
 font-size: 1rem;
 font-weight: bold;
 text-align: left;
}
@media (min-width: 768px) {
  .last-btn{
    width: 500px;

  }
}
.last-form{
  text-align: center;
  margin-bottom: 20px;
}
.last h2{
  font-size: 2rem;
  text-align: center;
}
.oculto-show{

 margin-top: 0;
 padding-top: 0;
 width: 500px;
 background-color: gray;
 padding: 15px;
 font-size: 1rem;
 font-weight: bold;
 text-align: left;
}
.oculto{
  display: none;
}
#idiom{
  background-color: transparent;
  padding: 5px;
  font-weight: bold;
}